* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  font-family: Inter, sans-serif;
  color: #FFF;
}

#root {
  margin: 10px auto;
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px;
}

header {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 36px;
}

.title {
  font-size: 25px;
  margin-top: 21px;
}

.desc {
  color: #F3BF99;
  margin-top: 7px;
  font-size: 13px;
  font-weight: 400;
}

.site {
  color: #F5F5F5;
  margin-top: 9px;
  font-size: 11px;
  line-height: 150%;
  cursor: pointer;
}

.buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

button {
  padding: 9px 13px 9px 7px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.email {
  color: #1E1F26;
}

.linkedin {
  background-color: #5093E2;
  color: #FFF;
  border: none;
}

.content {
  margin-inline: auto;
  margin-bottom: 27px;
  width: 250px;
  color: #F5F5F5;
}

.content h3 {
  font-size: 16px;
  line-height: 24px;
}

.content p {
  font-size: 11px;
  line-height: 15px;
  color: #DCDCDC;
}

footer {
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 73px;
  gap: 24px;
}